/civ/preferences
*.pst
*.sav
*.psd
*.cbt
*.rwm
/civ/saves
/civ/replays
/civ/custom
/civ/data/animations/data
/civ/data/animations/data/fs_*
/civ/romans/preferences
/civ/romans/saves
/civ/romans/replays
/civ/romans/custom
/civ/поправки.txt
/civ/Dust_and_Wind.exe
*.exe
/civ/data/animations/old
/civ/romans/data/world/maps/campaign/Caesar's civil war
Caesar's civil war
/civ/data/new/axe.cas
/civ/data/new/Без имени-12.png
/civ/data/new/thureosbasic.png
/civ/data/new/unit_dacian_falx_warband.cas
/civ/data/new/Без имени-11.png
/civ/data/new/Без имени-20.png
