/civ/preferences
*.pst
*.sav
*.psd
*.cbt
*.rwm
/civ/saves
/civ/replays
/civ/custom
/civ/data/animations/data
/civ/data/animations/data/fs_*
/civ/romans/preferences
/civ/romans/saves
/civ/romans/replays
/civ/romans/custom
/civ/поправки.txt
/civ/Dust_and_Wind.exe
*.exe
/civ/data/animations/old
/civ/romans/data/world/maps/campaign/Caesar's civil war
Caesar's civil war
/civ/data/new/axe.cas
/civ/data/new/Без имени-12.png
/civ/data/new/thureosbasic.png
/civ/data/new/unit_dacian_falx_warband.cas
/civ/data/new/Без имени-11.png
/civ/data/new/Без имени-20.png
/civ/preferences for sprite
/civ/data/new/2.tga
/civ/data/new/1.tga
/civ/data/new/Без имени-13.png
/civ/data/new/Без имени-14.png
/civ/data/new/Без имени-15.png
/civ/data/new/Без имени-16.png
/civ/data/new/Без имени-17.png
/civ/data/new/Без имени-18.png
/civ/data/new/Без имени-19.png
/civ/data/new/Без имени-5.png
/civ/data/new/Без имени-6.png
/civ/data/new/Без имени-8.png
/civ/data/new/Без имени-9.png
/civ/data/new/Без имени-10.png
/civ/data/new/Без имени-3.png
/civ/data/new/Без имени-4.png
/civ/data/new/Без имени-1.png
/civ/data/new/Без имени-2.png
/civ/data/UI/UNITS/MACEDON
/civ/data/UI/UNITS/DACIA
/civ/data/UI/UNITS/ROMANS_JULII
/civ/data/UI/UNITS/SELEUCID
/civ/data/UI/UNIT_INFO/DACIA
/civ/data/descr_formations_ai — копия.txt
